# SMTP
SMTP_HOST='seuhostsmtp.soumexemplo.com'
SMTP_PORT='587'
SMTP_CHARTSET='UTF-8'
SMTP_USER='seuemail@dominio.com'
SMTP_PASS='suasenha'
SMTP_FROM_EMAIL='seuemail@dominio.com'
SMTP_FROM_NAME='Loja Mini - ERP'
SMTP_AUTH=true

# MYSQL
MYSQL_PORT='3306'
MYSQL_DATABASE='erp'
MYSQL_USER='mysql_user'
MYSQL_PASSWORD='mysql123'
MYSQL_HOST='mysql'